/* .rede-sociais{
    display: flex;
    align-items: center;
    gap: 20px;
} */

.rede-sociais a{
    /* display: inline-block; */
    width: 40px;
    height: 40px;
    font-size: 1.8rem;
    text-align: center;
    margin: 0 9px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.rede-sociais a:hover{
    color: var(--cor-animacoes);
}

.rede-sociais a i{
    line-height: 40px;
}

.outer-shadow{
    box-shadow: 2px 2px #222327ab, -2px -2px 2px #f2efbd54;
}

.inner-shadow{
    box-shadow: inset 2px 2px 2px #2223277a, inset -2px -2px 2px #f2efbd79;
}
